.next/
node_modules/
coverage/
dist/
.npm-cache/
*.tsbuildinfo
.local-data/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
